@charset "UTF-8";
/*SASS STYLESHEET LINKS*/
/*LAYOUT MIXINS*/
/*TITLES GRADIENT COLOR*/
/*TITLE1 GRADIANT COLOR MENU NOTE*/
/*TITLE1 GRADIANT COLOR MENU CHIC*/
/*TITLE1 GRADIANT COLOR MENU CHIC*/
/*TITLE1 GRADIANT COLOR MENU TASTE*/
/*MENUS LAYOUT*/
/*MENUS LAYOUT*/
/*TABLE DESIGNATIONS & PRICES LAYOUTS*/
/*UNDERLINED TITLES ANIMATION*/
/*RETURN MENU BUTTON*/
/*TERMS OF USE*/
/**/
/*RESPONSIVE MIXINS*/
/**/
/*RESPONSIVE MENUS ACCUEIL*/
/*RESPONSIVE MENUS SIZE*/
/*SOON BUTTON*/
/*FOOTER*/
/*SCSS VARIABLES CREATION*/
/*GREEN*/
/*YELLOW*/
/*GENERAL BACKGROUND NEUBACK*/
/*MENUS BACKGROUND COLOR*/
/*MENU1 NOTE*/
/*MENU2 CHIC*/
/*MENU3 DELICE*/
/*MENU4 TASTE*/
/*MENU FONT_SIZE*/
/*SECONDARY TEXTS FONT*/
/*MENU1 FONT*/
/*MENU2 FONT*/
/*MENU3 FONT*/
/*MENU4 FONT*/
/*MENU TABLES*/
/*UNDERLINED TITLES ANIMATION DURATION VARIABLE*/
/*SMALL SCREENS RESPONSIVE VARIABLE*/
/*MEDIUM SCREENS RESPONSIVE VARIABLE*/
/*LARGE SCREENS RESPONSIVE VARIABLE*/
/*EXTRA-LARGE SCREENS RESPONSIVE VARIABLE*/
/*MAIN TITLTE OHMYFOOD FONT*/
@font-face {
  font-family: "anonymous";
  src: url("../font/anonymous/Anonymous-webfont.eot");
  src: url("../font/anonymous/Anonymous-webfont.svg") format("svg"), url("../font/anonymous/Anonymous-webfont.ttf") format("truetype"), url("../font/anonymous/Anonymous-webfont.woff") format("woff");
}
/*MENU1 NOTE FONT*/
@font-face {
  font-family: "simplifica";
  src: url("../font/simplifica/SIMPLIFICA_Typeface.ttf") format("truetype");
}
@font-face {
  font-family: "Barcelony";
  src: url("../font/Barcelony/Barcelony.ttf") format("truetype");
}
/*MENU2 DELICE FONT*/
@font-face {
  font-family: "Marmo-Regular";
  src: url("../font/Marmo/Marmo-Regular.otf") format("truetype");
}
/*MENU3 DELICE FONT*/
@font-face {
  font-family: "Dancing_script";
  src: url("../font/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}
/*MENU4 TASTE FONT*/
@font-face {
  font-family: "Holiday+Romance";
  src: url("../font/Holiday+Romance/Holiday Romance Webfont.woff") format("woff"), url("../font/Holiday+Romance/Holiday Romance Webfont.woff2") format("woff2"), url("../font/Holiday+Romance/Holiday Romance.otf") format("otf"), url("../font/Holiday+Romance/Holiday Romance.ttf") format("truetype");
}
/*MENU 3 & 4 h3 FONT*/
@font-face {
  font-family: "Cervanttis";
  src: url("../font/Cervanttis/Cervanttis.ttf") format("truetype");
}
/*FOOTER LEGAL & CONTACT / SOON BUTTON FONT*/
@font-face {
  font-family: "Basier_Mono_Square_Regular";
  src: url("../font/Basier_Mono_Square_Regular/basiersquaremono-regular-webfont.ttf") format("truetype");
}
/*MENU COOKED FOOD FONT*/
@font-face {
  font-family: "Berrylicious";
  src: url("../font/Berrylicious/Berrylicious-Regular.otf") format("truetype");
}
/**/
/*RESPONSIVE VERSION*/
/**/
@media (max-width: 767px) {
  body {
    margin: 0;
    cursor: default;
    background: #ebebeb;
  }

  /*HEADER THEME-COLOR: $theme-color / TEXT: $main-texts-color*/
  header {
    background-color: #699a88;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    color: #fac047;
    font-size: 3em;
    cursor: default;
    font-family: "anonymous";
  }
  header a {
    text-decoration: none;
  }

  /*MAIN --> MENU CARDS*/
  #accueil {
    /*MENU CARDS LAYOUT*/
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*MENU CARDS LAYOUT & DIMENSIONS*/
    /*MENU CARDS COLOR linked with LINK*/
    /*MENU NAMES & ANIMATION*/
  }
  #accueil article {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*TITLES GRADIENT COLOR MENUS ACCUEIL*/

  /*SOON BUTTON*/

  /*SOON BUTTON ELLIPSIS ANIMATION*/

  /*FOOTER LINKS LEGAL MENTION & CONTACT + LEGAL & CONTACT ANIMATION*/

  /*MENU PAGES*/
  /**/
  /*MENUS LAYOUT*/
  /**/
  /*MENUS COOKING FOOD + PRICES LAYOUT*/

  /*UNDERLINED TITLES ANIMATION*/

  /*BACK BUTTON*/

  /*TERMS OF USE PAGE*/

  /*KEYFRAMES*/
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  #accueil article {
    min-height: 60vh;
    width: 80vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 767px) {
  #accueil article {
    min-height: 65vh;
    width: 40vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1023px) {
  #accueil article {
    min-height: 80vh;
    width: 40vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1199px) {
  #accueil article {
    min-height: 80vh;
    width: 35vw;
  }
}
@media (max-width: 767px) {
  #accueil a {
    text-decoration: none;
    cursor: default;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    margin: 2vh;
    /*MENU CARDS COLOR & H2/H3 FONT FAMILY and SIZE*/
    /*MENU1 NOTEENCHANTÉE*/
    /*MENU2 CHIC*/
    /*MENU3 DELICE*/
    /*MENU4 TASTE*/
    /*MENU NAMES ANIMATION DURATION*/
  }
  #accueil a h3 {
    font-size: 2em;
  }
  #accueil a:first-child {
    background-color: #fbdad6;
  }
  #accueil a:first-child h2 {
    font-family: "Barcelony";
    font-size: 2em;
  }
  #accueil a:first-child h3 {
    font-family: "simplifica";
    text-transform: uppercase;
  }
  #accueil a:first-child img {
    height: 6vh;
  }
  #accueil a:nth-child(2) {
    background-color: #fff3fe;
    font-family: "Marmo-Regular";
  }
  #accueil a:nth-child(2) h2 {
    font-size: 1.2em;
  }
  #accueil a:nth-child(2) h3 {
    font-size: 1.1em;
  }
  #accueil a:nth-child(3) {
    background-color: #f8f8f8;
  }
  #accueil a:nth-child(3) h2 {
    font-family: "Dancing_Script";
    font-size: 2em;
  }
  #accueil a:nth-child(3) h3 {
    font-family: "Cervanttis";
    font-size: 2em;
  }
  #accueil a:nth-child(4) {
    background-color: #fafafa;
  }
  #accueil a:nth-child(4) h2 {
    font-family: "Holiday+Romance";
    font-size: 2em;
  }
  #accueil a:nth-child(4) h3 {
    font-family: "Cervanttis";
    font-size: 2em;
  }
  #accueil ah2 {
    transition-duration: 1s;
  }
}
@media (max-width: 767px) {
  #accueil h2 {
    max-width: 100%;
    margin: 0;
    height: auto;
    transition-duration: 800ms;
  }
  #accueil h2:hover {
    transform: scale(1.3);
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  #note h2, #note h3 {
    background: #7f00ff;
    background: -moz-linear-gradient(left, #7f00ff 0%, #c700ff 100%);
    background: -webkit-linear-gradient(left, #7f00ff 0%, #c700ff 100%);
    background: linear-gradient(to right, #7f00ff 0%, #c700ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#7f00ff", endColorstr="#c700ff",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@media (max-width: 767px) {
  #chic h2, #chic h3 {
    background: #ff9900;
    background: -moz-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: -webkit-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: linear-gradient(to right, #ff9900 1%, #7d5ea3 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@media (max-width: 767px) {
  #delice h2, #delice h3 {
    background: #00b7ea;
    background: -moz-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
    background: -webkit-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
    background: linear-gradient(to right, #00b7ea 0%, #0060c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00b7ea", endColorstr="#0060c1",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@media (max-width: 767px) {
  #taste h2, #taste h3 {
    background: #1eb500;
    background: -moz-linear-gradient(left, #1eb500 0%, #74ff6b 100%);
    background: -webkit-linear-gradient(left, #1eb500 0%, #74ff6b 100%);
    background: linear-gradient(to right, #1eb500 0%, #74ff6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1eb500", endColorstr="#74ff6b",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@media (max-width: 767px) {
  #soon {
    max-height: 5vh;
    width: 75vw;
    background-color: #699a88;
    margin-top: 1vh;
    margin-bottom: 10vh;
    border-radius: 15px;
    color: #fac047;
    font-family: "Basier_Mono_Square_Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 1.5vw;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
  }
}
@media (max-width: 767px) {
  .ellipsis {
    animation: ellipsis 1.2s infinite alternate;
    animation-timing-function: linear;
  }
  .ellipsis:nth-child(2) {
    animation-delay: 0.5s;
  }
  .ellipsis:nth-child(3) {
    animation-delay: 1s;
  }
}
@media (max-width: 767px) {
  footer {
    min-height: 7%;
    width: 100%;
    background-color: #699a88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  footer a {
    font-size: 0.8em;
    cursor: default;
    text-decoration: none;
    font-family: "Basier_Mono_Square_Regular";
    color: #fac047;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  footer a:hover {
    animation: wiggle 10ms;
    animation-iteration-count: 30;
  }
}
@media (max-width: 767px) {
  #menu1 {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    font-family: "Berrylicious";
    font-style: italic;
    padding-bottom: 2vh;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 6vw 1vh 6vw;
    padding: 0 1vh 5vh 1vh;
    font-family: "Berrylicious";
    font-size: 0.6em;
    background-color: #fbdad6;
  }
  #menu1 .price {
    text-align: right;
  }
  #menu1 .food-part-title {
    font-weight: bold;
  }
  #menu1 .food-part-title .food-name-menu-layout {
    padding: 2vh 0 3vh 0;
  }
  #menu1 .food-part-title td:first-child {
    padding-bottom: 2vh;
    font-size: 1.2em;
    text-align: center;
  }
  #menu1 .food-part-title td:first-child .left {
    float: left;
    padding-top: 1vh;
  }
  #menu1 .food-part-title td:first-child .right {
    float: right;
    padding-top: 1vh;
  }
  #menu1 .food-part-title td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu1 table td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu1 h1 {
    font-size: 2.5em;
    color: black;
    font-family: "Barcelony";
    margin-top: 1vh;
    text-align: center;
  }
  #menu1 .note {
    padding-top: 3vh;
    height: 6vh;
  }
}
@media (max-width: 767px) {
  #menu2 {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    font-family: "Berrylicious";
    font-style: italic;
    padding-bottom: 2vh;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 6vw 1vh 6vw;
    padding: 0 1vh 5vh 1vh;
    font-family: "Berrylicious";
    font-size: 0.6em;
    background-color: #fff3fe;
    font-family: "Marmo-Regular";
    height: 65vh;
  }
  #menu2 .price {
    text-align: right;
  }
  #menu2 .food-part-title {
    font-weight: bold;
  }
  #menu2 .food-part-title .food-name-menu-layout {
    padding: 2vh 0 3vh 0;
  }
  #menu2 .food-part-title td:first-child {
    padding-bottom: 2vh;
    font-size: 1.2em;
    text-align: center;
  }
  #menu2 .food-part-title td:first-child .left {
    float: left;
    padding-top: 1vh;
  }
  #menu2 .food-part-title td:first-child .right {
    float: right;
    padding-top: 1vh;
  }
  #menu2 .food-part-title td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu2 table td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu2 h1 {
    font-size: 2.5em;
    color: black;
    font-family: "Barcelony";
    margin-top: 1vh;
    text-align: center;
  }
  #menu2 span {
    background: #ff9900;
    background: -moz-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: -webkit-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: linear-gradient(to right, #ff9900 1%, #7d5ea3 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  #menu2 h1 {
    font-family: "Marmo-Regular";
    background: #ff9900;
    background: -moz-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: -webkit-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: linear-gradient(to right, #ff9900 1%, #7d5ea3 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2em;
  }
  #menu2 table td {
    background: #ff9900;
    background: -moz-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: -webkit-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
    background: linear-gradient(to right, #ff9900 1%, #7d5ea3 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 0.6em;
  }
  #menu2 .food-part-title {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  #menu3 {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    font-family: "Berrylicious";
    font-style: italic;
    padding-bottom: 2vh;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 6vw 1vh 6vw;
    padding: 0 1vh 5vh 1vh;
    font-family: "Berrylicious";
    font-size: 0.6em;
    height: 65vh;
    background-color: #f8f8f8;
  }
  #menu3 .price {
    text-align: right;
  }
  #menu3 .food-part-title {
    font-weight: bold;
  }
  #menu3 .food-part-title .food-name-menu-layout {
    padding: 2vh 0 3vh 0;
  }
  #menu3 .food-part-title td:first-child {
    padding-bottom: 2vh;
    font-size: 1.2em;
    text-align: center;
  }
  #menu3 .food-part-title td:first-child .left {
    float: left;
    padding-top: 1vh;
  }
  #menu3 .food-part-title td:first-child .right {
    float: right;
    padding-top: 1vh;
  }
  #menu3 .food-part-title td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu3 table td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu3 h1 {
    font-size: 2.5em;
    color: black;
    font-family: "Barcelony";
    margin-top: 1vh;
    text-align: center;
  }
  #menu3 h1 {
    font-family: "Dancing_Script";
  }
}
@media (max-width: 767px) {
  #menu4 {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    font-family: "Berrylicious";
    font-style: italic;
    padding-bottom: 2vh;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 6vw 1vh 6vw;
    padding: 0 1vh 5vh 1vh;
    font-family: "Berrylicious";
    font-size: 0.6em;
    background-color: #fafafa;
  }
  #menu4 .price {
    text-align: right;
  }
  #menu4 .food-part-title {
    font-weight: bold;
  }
  #menu4 .food-part-title .food-name-menu-layout {
    padding: 2vh 0 3vh 0;
  }
  #menu4 .food-part-title td:first-child {
    padding-bottom: 2vh;
    font-size: 1.2em;
    text-align: center;
  }
  #menu4 .food-part-title td:first-child .left {
    float: left;
    padding-top: 1vh;
  }
  #menu4 .food-part-title td:first-child .right {
    float: right;
    padding-top: 1vh;
  }
  #menu4 .food-part-title td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu4 table td:first-child img {
    width: 10vh;
    height: auto;
  }
  #menu4 h1 {
    font-size: 2.5em;
    color: black;
    font-family: "Barcelony";
    margin-top: 1vh;
    text-align: center;
  }
  #menu4 h1 {
    font-family: "Holiday+Romance";
  }
}
@media (max-width: 767px) {
  span {
    display: inline-block;
  }
  span:hover:after {
    width: 100%;
  }
  span:after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width;
    transition-duration: 1s;
  }
}
@media (max-width: 767px) {
  div {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin: 2vh 0 15vh 0;
    font-size: 0.8em;
    background-color: #699a88;
    color: #fac047;
    width: 15vw;
    font-family: "Basier_Mono_Square_Regular";
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    height: 3vh;
    width: 20vw;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10vh;
  }
}
@media (max-width: 767px) {
  #terms-of-use {
    font-family: "Basier_Mono_Square_Regular";
  }
  #terms-of-use h2 {
    background: #699a88;
    width: 100%;
    text-align: center;
    color: #fac047;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
    font-size: 1em;
  }
  #terms-of-use h3 {
    font-size: 0.8em;
    margin: 0 10vw 0 10vw;
  }
  #terms-of-use p {
    margin: 0 10vw 0 10vw;
    font-size: 0.7em;
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;
  }
  #terms-of-use a {
    text-decoration: none;
    cursor: default;
    color: #000000;
    display: inline-block;
  }
  #terms-of-use a:hover:after {
    width: 100%;
  }
  #terms-of-use a:after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width;
    transition-duration: 1s;
  }
  #terms-of-use a:after {
    transition-duration: 5s;
  }
  #terms-of-use a:hover:after {
    transition: none;
  }
}
@media (max-width: 767px) {
  #terms-legal {
    display: none;
  }
}
@media (max-width: 767px) {
  #terms-of-use-footer {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  @keyframes ellipsis {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 767px) {
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
/**/
/*RESPONSIVE TABLET DEVICES BREACKPOINT*/
/**/
body {
  margin: 0;
  cursor: default;
  background: #ebebeb;
}

/*HEADER THEME-COLOR: $theme-color / TEXT: $main-texts-color*/
header {
  background-color: #699a88;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #fac047;
  cursor: default;
  font-family: "anonymous";
}
@media screen and (max-width: 767px) {
  header h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 767px) {
  header h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 1023px) {
  header h1 {
    font-size: 4em;
  }
}
@media screen and (min-width: 1199px) {
  header h1 {
    font-size: 7em;
  }
}
header a {
  text-decoration: none;
}

/*MAIN --> MENU CARDS*/
#accueil {
  /*MENU CARDS LAYOUT*/
  max-width: 100%;
  /*MENU CARDS LAYOUT & DIMENSIONS*/
  /*MENU CARDS COLOR linked with LINK*/
  /*MENU NAMES & ANIMATION*/
}
@media screen and (max-width: 767px) {
  #accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  #accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1023px) {
  #accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  #accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
#accueil article {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #accueil article {
    min-height: 60vh;
    width: 80vw;
  }
}
@media screen and (min-width: 767px) {
  #accueil article {
    min-height: 65vh;
    width: 40vw;
  }
}
@media screen and (min-width: 1023px) {
  #accueil article {
    min-height: 80vh;
    width: 40vw;
  }
}
@media screen and (min-width: 1199px) {
  #accueil article {
    min-height: 80vh;
    width: 35vw;
  }
}
#accueil a {
  text-decoration: none;
  cursor: default;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
  margin: 2vh;
  /*MENU CARDS COLOR & H2/H3 FONT FAMILY and SIZE*/
  /*MENU1 NOTEENCHANTÉE*/
  /*MENU2 CHIC*/
  /*MENU3 DELICE*/
  /*MENU4 TASTE*/
  /*MENU NAMES ANIMATION DURATION*/
}
@media screen and (min-width: 767px) {
  #accueil a h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1023px) {
  #accueil a h3 {
    font-size: 3em;
  }
}
@media screen and (min-width: 1199px) {
  #accueil a h3 {
    font-size: 4em;
  }
}
#accueil a:first-child {
  background-color: #fbdad6;
}
#accueil a:first-child h2 {
  font-family: "Barcelony";
  font-size: 2em;
}
#accueil a:first-child h3 {
  font-family: "simplifica";
  text-transform: uppercase;
}
#accueil a:first-child img {
  height: 6vh;
}
#accueil a:nth-child(2) {
  background-color: #fff3fe;
  font-family: "Marmo-Regular";
}
#accueil a:nth-child(2) h2 {
  font-size: 1.2em;
}
#accueil a:nth-child(2) h3 {
  font-size: 1.1em;
}
#accueil a:nth-child(3) {
  background-color: #f8f8f8;
}
#accueil a:nth-child(3) h2 {
  font-family: "Dancing_Script";
  font-size: 2em;
}
#accueil a:nth-child(3) h3 {
  font-family: "Cervanttis";
  font-size: 2em;
}
#accueil a:nth-child(4) {
  background-color: #fafafa;
}
#accueil a:nth-child(4) h2 {
  font-family: "Holiday+Romance";
  font-size: 2em;
}
#accueil a:nth-child(4) h3 {
  font-family: "Cervanttis";
  font-size: 2em;
}
#accueil ah2 {
  transition-duration: 1s;
}
#accueil h2 {
  max-width: 100%;
  margin: 0;
  height: auto;
  transition-duration: 800ms;
}
#accueil h2:hover {
  transform: scale(1.3);
  opacity: 0.6;
}

/*TITLES GRADIENT COLOR MENUS ACCUEIL*/
#note h2, #note h3 {
  background: #7f00ff;
  background: -moz-linear-gradient(left, #7f00ff 0%, #c700ff 100%);
  background: -webkit-linear-gradient(left, #7f00ff 0%, #c700ff 100%);
  background: linear-gradient(to right, #7f00ff 0%, #c700ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#7f00ff", endColorstr="#c700ff",GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#chic h2, #chic h3 {
  background: #ff9900;
  background: -moz-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
  background: -webkit-linear-gradient(left, #ff9900 1%, #7d5ea3 57%);
  background: linear-gradient(to right, #ff9900 1%, #7d5ea3 57%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#delice h2, #delice h3 {
  background: #00b7ea;
  background: -moz-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
  background: -webkit-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
  background: linear-gradient(to right, #00b7ea 0%, #0060c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00b7ea", endColorstr="#0060c1",GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#taste h2, #taste h3 {
  background: #1eb500;
  background: -moz-linear-gradient(left, #1eb500 0%, #74ff6b 100%);
  background: -webkit-linear-gradient(left, #1eb500 0%, #74ff6b 100%);
  background: linear-gradient(to right, #1eb500 0%, #74ff6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1eb500", endColorstr="#74ff6b",GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*SOON BUTTON*/
#soon {
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.55);
  background-color: #699a88;
  border-radius: 15px;
  color: #fac047;
  font-family: "Basier_Mono_Square_Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vw;
}
@media screen and (max-width: 767px) {
  #soon {
    max-height: 5vh;
    width: 75vw;
    font-size: 1.2em;
    margin-bottom: 10vh;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 767px) {
  #soon {
    max-height: 5vh;
    width: 50vw;
    font-size: 1.3em;
    margin-bottom: 10vh;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 1023px) {
  #soon {
    max-height: 5vh;
    width: 40vw;
    font-size: 1.5em;
    margin-bottom: 15vh;
    margin-top: 2vh;
  }
}
@media screen and (min-width: 1199px) {
  #soon {
    max-height: 5vh;
    width: 35vw;
    font-size: 2em;
    margin-bottom: 20vh;
    margin-top: 2vh;
  }
}

/*SOON BUTTON ELLIPSIS ANIMATION*/
.ellipsis {
  animation: ellipsis 1.2s infinite alternate;
  animation-timing-function: linear;
}
.ellipsis:nth-child(2) {
  animation-delay: 0.5s;
}
.ellipsis:nth-child(3) {
  animation-delay: 1s;
}

/*FOOTER LINKS LEGAL MENTION & CONTACT + LEGAL & CONTACT ANIMATION*/
footer {
  width: 100%;
  background-color: #699a88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  footer {
    min-height: 7%;
  }
}
@media screen and (min-width: 767px) {
  footer {
    min-height: 8%;
  }
}
@media screen and (min-width: 1023px) {
  footer {
    min-height: 10%;
  }
}
@media screen and (min-width: 1199px) {
  footer {
    min-height: 15%;
  }
}
footer a {
  cursor: default;
  text-decoration: none;
  font-family: "Basier_Mono_Square_Regular";
  color: #fac047;
  margin-left: 3vw;
  margin-right: 3vw;
}
@media screen and (max-width: 767px) {
  footer a {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 767px) {
  footer a {
    font-size: 1em;
  }
}
@media screen and (min-width: 1023px) {
  footer a {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1199px) {
  footer a {
    font-size: 1.8em;
  }
}
footer a:hover {
  animation: wiggle 10ms;
  animation-iteration-count: 30;
}

/*# sourceMappingURL=style.css.map */
