/*SASS STYLESHEET LINKS*/
@import "libs/mixins";
@import "libs/variables";
@import "libs/responsive";

/*MAIN TITLTE OHMYFOOD FONT*/
@font-face{
    font-family:"anonymous";
    src:url("../font/anonymous/Anonymous-webfont.eot");
    src:url("../font/anonymous/Anonymous-webfont.svg") format("svg"),
        url("../font/anonymous/Anonymous-webfont.ttf") format("truetype"),
        url("../font/anonymous/Anonymous-webfont.woff") format("woff");
}

/*MENU1 NOTE FONT*/
@font-face {
    font-family: "simplifica";
    src: url("../font/simplifica/SIMPLIFICA_Typeface.ttf") format("truetype");
}

@font-face {
    font-family: "Barcelony";
    src: url("../font/Barcelony/Barcelony.ttf") format("truetype");
}

/*MENU2 DELICE FONT*/
@font-face{
    font-family: "Marmo-Regular";
    src: url("../font/Marmo/Marmo-Regular.otf") format("truetype");
}

/*MENU3 DELICE FONT*/
@font-face {
    font-family:"Dancing_script";
    src:url("../font/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

/*MENU4 TASTE FONT*/
@font-face{
    font-family: "Holiday+Romance";
    src: url("../font/Holiday+Romance/Holiday Romance Webfont.woff") format("woff"),
        url("../font/Holiday+Romance/Holiday Romance Webfont.woff2") format("woff2"),
        url("../font/Holiday+Romance/Holiday Romance.otf") format("otf"),
        url("../font/Holiday+Romance/Holiday Romance.ttf") format("truetype");
}

/*MENU 3 & 4 h3 FONT*/
@font-face {
    font-family: "Cervanttis";
    src: url("../font/Cervanttis/Cervanttis.ttf") format("truetype");
}

/*FOOTER LEGAL & CONTACT / SOON BUTTON FONT*/
@font-face{
    font-family: "Basier_Mono_Square_Regular";
    src: url("../font/Basier_Mono_Square_Regular/basiersquaremono-regular-webfont.ttf") format("truetype");
}

/*MENU COOKED FOOD FONT*/

@font-face{
    font-family: "Berrylicious";
    src: url("../font/Berrylicious/Berrylicious-Regular.otf") format("truetype");
}

/**//*RESPONSIVE VERSION*//**/
@media (max-width: 767px){


    body {
        margin:0;
        cursor:default;
        background: $neuback;
    }

    /*HEADER THEME-COLOR: $theme-color / TEXT: $main-texts-color*/

    header {
        background-color: $theme-color;
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            color:$main-texts-color;
            font-size:3em;
            cursor:default;
            font-family: "anonymous";
        }
        a{
            text-decoration: none;
        }
    }

    /*MAIN --> MENU CARDS*/

    #accueil {
        /*MENU CARDS LAYOUT*/
        max-width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*MENU CARDS LAYOUT & DIMENSIONS*/
        article {
            @include menu_cards;
            @include responsive-accueil;
        }
        /*MENU CARDS COLOR linked with LINK*/
        a{
            text-decoration: none;
            @include cursor;
            @include neumorphic-shadow;
            margin:2vh;
            h3{
                font-size: $menu-font-size;
            }
            /*MENU CARDS COLOR & H2/H3 FONT FAMILY and SIZE*/
            /*MENU1 NOTEENCHANTÉE*/
            &:first-child{
                background-color:$background-color-menu1;
                h2{
                    font-family: "Barcelony";
                    font-size:2em;
                }
                h3{
                    font-family:"simplifica";
                    text-transform: uppercase;
                }
                img{
                    height:6vh;
                }
            }
            /*MENU2 CHIC*/
            &:nth-child(2){
                background-color:$background-color-menu2;
                font-family: $menu2-font;
                h2{
                    font-size: 1.2em;
                }
                h3{
                    font-size: 1.1em;
                }
            }
            /*MENU3 DELICE*/
            &:nth-child(3){
                background-color:$background-color-menu3;
                h2{
                    font-family: "Dancing_Script";
                    font-size:2em;
                }
                h3{
                    @include menu-font-delice-taste;
                }
            }
            /*MENU4 TASTE*/
            &:nth-child(4){
                background-color:$background-color-menu4;
                h2{
                    font-family: "Holiday+Romance";
                    font-size:2em;
                }

                h3{
                    @include menu-font-delice-taste;
                }
            }
            /*MENU NAMES ANIMATION DURATION*/
            &h2{
                transition-duration: 1s;
            }
        }
        /*MENU NAMES & ANIMATION*/
        h2{
            max-width:100%;
            margin: 0;
            height:auto;
            transition-duration: 800ms;
            &:hover{
                transform:scale(1.3);
                opacity:0.6;
            }
        }
    }

    /*TITLES GRADIENT COLOR MENUS ACCUEIL*/

    #note h2,#note h3{
        @include gradient-note;
    }

    #chic h2,#chic h3{
        @include gradient-chic;
    }

    #delice h2,#delice h3{
        @include gradient-delice;

    }

    #taste h2,#taste h3{
        @include gradient-taste;

    }

    /*SOON BUTTON*/

    #soon{
        max-height:5vh;
        width: 75vw;
        background-color: $theme-color;
        margin-top: 1vh;
        margin-bottom:10vh;
        border-radius:15px;
        color:$main-texts-color;
        font-family: $secondary-font;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:1.2em;
        padding:1.5vw;
        @include neumorphic-shadow;
    }

    /*SOON BUTTON ELLIPSIS ANIMATION*/

    .ellipsis{
        animation: ellipsis 1.2s infinite alternate;
        animation-timing-function: linear;
        &:nth-child(2) {
            animation-delay: 0.5s;
        }
        &:nth-child(3) {
            animation-delay: 1s;
        }
    }

    /*FOOTER LINKS LEGAL MENTION & CONTACT + LEGAL & CONTACT ANIMATION*/

    footer {
        min-height:7%;
        width: 100%;
        background-color: $theme-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        bottom: 0;
        a{
            font-size:0.8em;
            cursor:default;
            text-decoration: none;
            font-family: $secondary-font;
            color:$main-texts-color;
            margin-left:3vw;
            margin-right:3vw;
            &:hover{
                animation:wiggle 10ms;
                animation-iteration-count: 30;
            }
        }
    }

    /*MENU PAGES*/

    /**//*MENUS LAYOUT*//**/

    /*MENUS COOKING FOOD + PRICES LAYOUT*/

    #menu1 {
        @include menu-layout;
        .note{
            padding-top: 3vh;
            height:6vh;
        }
        background-color:$background-color-menu1;
    }

    #menu2 {
        @include menu-layout;
        background-color:$background-color-menu2;
        font-family: $menu2-font;
        height:65vh;
        h1{
            font-family: $menu2-font;
            @include gradient-chic;
            font-size: 2em;
        }
        table td{
            font-size: .6em;
        }
        .food-part-title{
            @include food-part-title-mixin;
        }
    }

    #menu3 {
        @include menu-layout;
        height:65vh;
        background-color:$background-color-menu3;
        h1{
            font-family: $menu3-font;
        }
    }

    #menu4 {
        @include menu-layout;
        background-color:$background-color-menu4;
        h1{
            font-family: $menu4-font;
        }

    }

    /*UNDERLINED TITLES ANIMATION*/

    span{
        @include underlined-titles;
    }

    /*BACK BUTTON*/
    div{
        height: auto;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        a{
            @include back-button;
            height: 3vh;
            width: 20vw;
            border-radius: 10px;
            text-decoration: none;
            margin-bottom: 10vh;
        }
    }

    /*TERMS OF USE PAGE*/
    #terms-of-use{
        @include terms-of-use;
    }

    #terms-legal{
        display: none;
    }

    #terms-of-use-footer{
        justify-content: center;
    }

    /*KEYFRAMES*/

    @keyframes ellipsis{
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes wiggle{
        0%{
            transform:rotate(0deg);
        }
        25%{
            transform:rotate(-3deg);
        }
        75%{
            transform:rotate(3deg);
        }
        100%{
            transform:rotate(0deg);
        }
    }
}

/**//*RESPONSIVE TABLET DEVICES BREACKPOINT*//**/

body {
    margin:0;
    cursor:default;
    background: $neuback;
}

/*HEADER THEME-COLOR: $theme-color / TEXT: $main-texts-color*/
header {
    background-color: $theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        color:$main-texts-color;
        @include h1-responsive-font-size;
        cursor:default;
        font-family: "anonymous";
    }
    a{
        text-decoration: none;
    }
}


/*MAIN --> MENU CARDS*/

#accueil {
    /*MENU CARDS LAYOUT*/
    max-width:100%;
    @include responsive-accueil;
    /*MENU CARDS LAYOUT & DIMENSIONS*/
    article {
        @include menu_cards;
    }
    /*MENU CARDS COLOR linked with LINK*/
    a{
        text-decoration: none;
        @include cursor;
        @include neumorphic-shadow;
        margin:2vh;
        h3{
            font-size: $menu-font-size;
        }
        /*MENU CARDS COLOR & H2/H3 FONT FAMILY and SIZE*/
        /*MENU1 NOTEENCHANTÉE*/
        &:first-child{
            background-color:$background-color-menu1;
            h2{
                font-family: "Barcelony";
                font-size:2em;
            }
            h3{
                font-family:"simplifica";
                text-transform: uppercase;
            }
            img{
                height:6vh;
            }
        }
        /*MENU2 CHIC*/
        &:nth-child(2){
            background-color:$background-color-menu2;
            font-family: $menu2-font;
            h2{
                font-size: 1.2em;
                margin-top: 6vh;
            }
            h3{
                font-size: 1.3em;
            }
        }
        /*MENU3 DELICE*/
        &:nth-child(3){
            background-color:$background-color-menu3;
            h2{
                font-family: "Dancing_Script";
                font-size:2em;
            }
            h3{
                @include menu-font-delice-taste;
            }
        }
        /*MENU4 TASTE*/
        &:nth-child(4){
            background-color:$background-color-menu4;
            h2{
                font-family: "Holiday+Romance";
                font-size:2em;
            }

            h3{
                @include menu-font-delice-taste;
            }
        }
        /*MENU NAMES ANIMATION DURATION*/
        &h2{
            transition-duration: 1s;
        }
    }
    /*MENU NAMES & ANIMATION*/
    h2{
        max-width:100%;
        margin: 0;
        height:auto;
        transition-duration: 800ms;
        &:hover{
            transform:scale(1.3);
            opacity:0.6;
        }

    }
}

/*TITLES GRADIENT COLOR MENUS ACCUEIL*/

#note h2,#note h3{
    @include gradient-note;
}

#chic h2,#chic h3{
    @include gradient-chic;
}

#delice h2,#delice h3{
    @include gradient-delice;

}

#taste h2,#taste h3{
    @include gradient-taste;

}

/*MENU PAGES*/

/**//*MENUS LAYOUT*//**/

/*MENUS COOKING FOOD + PRICES LAYOUT*/

#menu1 {
    @include menu-layout;
    .note{
        @include note-notation-responsive;
    }
    background-color:$background-color-menu1;
}

#menu2 {
    @include menu-layout;
    background-color:$background-color-menu2;
    font-family: $menu2-font;
    h1{
        font-family: $menu2-font;
        @include gradient-chic;
        font-size: 2em;
    }
    table td{

        font-size: .6em;
    }
    .food-part-title{
        @include food-part-title-mixin
    }
}

#menu3 {
    @include menu-layout;
    height:65vh;
    background-color:$background-color-menu3;
    h1{
        font-family: $menu3-font;
    }
}

#menu4 {
    @include menu-layout;
    background-color:$background-color-menu4;
    h1{
        font-family: $menu4-font;
    }

}

/*UNDERLINED TITLES ANIMATION*/

span{
    @include underlined-titles;
}

/*BACK BUTTON*/
div{
    height: auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    a{
        @include back-button;
        height: 3vh;
        width: 20vw;
        border-radius: 10px;
        text-decoration: none;
        margin-bottom: 10vh;
    }
}

/*TERMS OF USE PAGE*/
#terms-of-use{
    @include terms-of-use;
}

#terms-legal{
    display: none;
}

#terms-of-use-footer{
    justify-content: center;
}

/*KEYFRAMES*/

@keyframes ellipsis{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wiggle{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(-3deg);
    }
    75%{
        transform:rotate(3deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

/*SOON BUTTON*/

#soon{
    @include soon-button-size;
    @include neumorphic-shadow;
    background-color: $theme-color;
    border-radius:15px;
    color:$main-texts-color;
    font-family: $secondary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1.5vw;
}

/*SOON BUTTON ELLIPSIS ANIMATION*/

.ellipsis{
    animation: ellipsis 1.2s infinite alternate;
    animation-timing-function: linear;
    &:nth-child(2) {
        animation-delay: 0.5s;
    }
    &:nth-child(3) {
        animation-delay: 1s;
    }
}

/*FOOTER LINKS LEGAL MENTION & CONTACT + LEGAL & CONTACT ANIMATION*/

footer {
    @include footer-size;
    width: 100%;
    background-color: $theme-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom: 0;
    a{
        @include footer-link-size;
        cursor:default;
        text-decoration: none;
        font-family: $secondary-font;
        color:$main-texts-color;
        margin-left:3vw;
        margin-right:3vw;
        &:hover{
            animation:wiggle 10ms;
            animation-iteration-count: 30;
        }
    }
}

/*UNDERLINED TITLES ANIMATION*/

span{
    @include underlined-titles;
}

/*BACK BUTTON*/
div{
    height: auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    a{
        @include back-button;
        height: 3vh;
        width: 20vw;
        border-radius: 10px;
        text-decoration: none;
        margin-bottom: 10vh;
    }
}

/*TERMS OF USE PAGE*/
#terms-of-use{
    @include terms-of-use;
}

#terms-legal{
    display: none;
}

#terms-of-use-footer{
    justify-content: center;
}





